{% extends "base.html" %}

{% block title %}Add Question{% endblock %}

{% block content %}
<div class="container">

    

    <form method="POST">

    <div class="card">

        <div class="form-header">
        <h1 class="form-title">Add Question to Bank</h1>
        <p class="form-subtitle">
        Create reusable questions for your assessments
        </p>
   </div>

   <hr class="form-divider">

    <div class="form-group">
        <label>Question</label>
        <textarea name="question_text" required></textarea>
    </div>

    <div class="option-grid">

        <div class="form-group">
            <label>Option A</label>
            <input type="text" name="option_a" required>
        </div>

        <div class="form-group">
            <label>Option B</label>
            <input type="text" name="option_b" required>
        </div>

        <div class="form-group">
            <label>Option C</label>
            <input type="text" name="option_c" required>
        </div>

        <div class="form-group">
            <label>Option D</label>
            <input type="text" name="option_d" required>
        </div>

    </div>

    <div class="meta-grid">

        <div class="form-group">
            <label>Correct Option</label>
            <select name="correct_option">
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
            </select>
        </div>

        <div class="form-group">
            <label>Category</label>
            <input type="text" name="category" required>
        </div>

    </div>

    <div class="form-group">
        <label>Difficulty</label>
        <select name="difficulty">
            <option>Easy</option>
            <option>Medium</option>
            <option>Hard</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">
        Save Question
    </button>

</div>

</form>

</div>
{% endblock %}