{% extends "base.html" %}

{% block title %}Upload Questions{% endblock %}

{% block content %}
<div class="container">

    <h1 class="page-title">
        📥 Upload Questions
    </h1>

    <p>
        Upload Excel or CSV files to bulk import questions.
    </p>
{% if success %}

<div class="alert-success">
    {{ success }}
</div>

{% endif %}
    <div class="card">

        <form method="POST"
              enctype="multipart/form-data">

            <div style="margin-bottom:20px">

                <label>
                    Select Excel / CSV File
                </label>

                <br><br>

                <input
                    type="file"
                    name="file"
                    accept=".xlsx,.csv"
                    required
                >

            </div>

            <button type="submit"
                    class="btn btn-primary">

                Upload Questions

            </button>

        </form>

    </div>

</div>
{% endblock %}
